# Force .ph files to be recognised as Phosphor instead of Perl:
*.ph linguist-language=Phosphor

# Prevent that the main.ts file is recognised as Javascript because of the shebang:
src/main.ts linguist-language=Typescript
