# No node_modules:
node_modules/

# No package-lock.json (package manager specific):
package-lock.json

# No editor specific configs:
.vscode
.idea

# Ignore Mac files:
.DS_Store
*.DS_Store

# No builds:
bin/**/*
tmp/**/*
out/**/*

# Coverage directory used by tools like istanbul:
coverage
